<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-externallinks" version="0.0.1">
    <name>Device</name>
    <description>Cordova Plugin Exxternalinks</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device, external, links, iframe</keywords>
    <repo>https://github.com/EnricoKestenholz/cordova-plugin-externallinks</repo>
    <issue>https://github.com/EnricoKestenholz/cordova-plugin-externallinks/issues</issue>
    <js-module src="www/externallinks.js" name="externallinks">
        <clobbers target="externallinks" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ExternalLinks">
                <param name="ios-package" value="CDVExternalLinks"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVExternalLinks.h" />
        <source-file src="src/ios/CDVExternalLinks.m" />
    </platform>
</plugin>